.eligibility-section {
  padding: 100px 40px;
  background: #ffffff;
}

.eligibility-header {
  text-align: center;
  max-width: 850px;
  margin: auto;
  margin-bottom: 70px;
}

.eligibility-tag {
  color: #f59e0b;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 20px;

}

.eligibility-header h2 {
  font-size: 36px;
  margin: 12px 0;
  color: #0f2a44;
}

.eligibility-header p {
  color: #666;
  line-height: 1.7;
}

/* CONTENT */
.eligibility-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}

/* COLUMNS */
.eligibility-column {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.eligibility-item {
  display: flex;
  gap: 18px;
  align-items: flex-start;
}

.eligibility-item h4 {
  margin-bottom: 6px;
  color: #0f2a44;
}

.eligibility-item p {
  color: #666;
  line-height: 1.6;
}

/* ICONS */
.icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.icon.pink {
  background: #ffe4f0;
  color: #ec4899;
}

.icon.blue {
  background: #e0f2fe;
  color: #0284c7;
}

.icon.yellow {
  background: #fef3c7;
  color: #ca8a04;
}

.icon.purple {
  background: #ede9fe;
  color: #7c3aed;
}

.icon.orange {
  background: #ffedd5;
  color: #ea580c;
}

.icon.green {
  background: #dcfce7;
  color: #16a34a;
}

/* IMAGE */
.eligibility-image img {
  width: 100%;
  max-width: 360px;
  margin: auto;
  display: block;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .eligibility-section {
    padding: 70px 20px;
  }

  .eligibility-header h2 {
    font-size: 28px;
  }
}

.eligibility-cta{display:flex;justify-content:center;margin-top:20px}
@media (max-width:767px){
  .eligibility-cta .btn{width:100%}
}