.partners-section {
  padding: 80px 20px;
  background: #ffffff;
  text-align: center;
  overflow: hidden;
  font-size: 20px;
}

.partners-section h2 {
  font-size: 30px;
  margin: 12px 0 40px;
  color: #0f2a44;
}

/* SLIDER */
.partners-slider {
  width: 100%;
  overflow: hidden;
  position: relative;
}

/* TRACK */
.partners-track {
  display: flex;
  align-items: center;
  gap: 50px;
  width: max-content;
  animation: scrollLeft 25s linear infinite;
}

.partners-track:hover {
  animation-play-state: paused;
}

/* LOGO */
.partners-track img {
  max-height: 60px;
  object-fit: contain;
  /* filter: grayscale(100%);
  opacity: 0.8; */
  transition: transform 0.3s ease, filter 0.3s ease, opacity 0.3s ease;
  will-change: transform;
}

.partners-track img:hover {
  transform: scale(1.08);
  filter: grayscale(0%);
  opacity: 1;
}

/* ANIMATION */
@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .partners-track {
    gap: 30px;
  }

  .partners-track img {
    max-height: 48px;
  }
}
